.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes rainbow {
  0%   { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  20%  { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  40%  { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  60%  { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  80%  { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  100% { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
}

@keyframes color {
  0%   { background: linear-gradient(
    -225deg,
    #058d39 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  20%  { background: linear-gradient(
    -225deg,
    #ff1361 0%,
    #fff800 29%,
    #231557 67%,
    #44107a 100%
  )}
  40%  { background: linear-gradient(
    -225deg,
    #fff800 0%,
    #44107a 29%,
    #ff1361 67%,
    #231557 100%
  )}
  60%  { background: linear-gradient(
    -225deg,
    #72ef6c 0%,
    #231557 29%,
    #ff6598 67%,
    #f40c88 100%
  )}
  80%  { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
  100% { background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  )}
}
.home{
  background: white; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
/* .main
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
} */

/* @keyframes textclip {
  to {
    background-position: 200% center;
  }
} */
.main {
  font-size: 50px;
  font-family: "roboto";
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.nav-item {
  display: inline;
}
.link {
  font-family: "roboto";
  font-weight: 800;
  margin-left: 30px;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
.link.active{
  color: black;
}
.link:hover {
  color: rgba(255, 225, 103, 255);
}
.register {
  background-color: rgb(242, 239, 239);
  width: 50%;
  margin: 50px auto auto auto;
  height: auto;
  box-shadow: 0px 18px 10px -15px #111;
  padding: 30px 0px;
  border-radius: 10px;
  animation: rainbow 9s infinite linear;
}
.form-group {
  /* margin-left:100px ; */
  margin-bottom: 25px;
}
.field {
  border: none;
  background-color: transparent;
  border-bottom: solid rgb(255, 255, 255) 1px;
  text-align: left;
  width: 200px;
  padding-bottom: 10px;
  font-weight: 500;
  color: aqua;
}
.field::placeholder{
  color: white;
}
.zmdi {
  margin-right: 5px;
  color: white;
}
.field:focus {
  border: solid rgb(154, 151, 151);
}
.signup-img {
  height: 280px;
  width: 280px;
  border-radius: 10px;
}
.mega {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}
.submit {
  margin-top: 70px;
}
.exist-user {
  display: block;
  text-align: center;
  padding: 4px 0px;
  color: black;
  background-color: rgba(255, 225, 103, 255);
  letter-spacing: 2px;
  border-radius: 10px;
}
.exist-user:hover {
  color: rgba(88, 42, 26, 255);
  text-decoration: none;
}
.btn-text {
  text-align: center;
}
.btn {
  background-color: rgb(253, 228, 0);
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins";
  text-align: center;
}
.btn:hover{
  background-color: white;
}
.signup {
  text-align: center;
  padding: 0px;
}
.signup-text {
  margin: 0px;
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 5px;
  font-family: "poppins";
  color: white;
}
.logo {
  height: 100px;
  width: 100px;
  background: "grey";
}
.login {
  background-color: rgb(242, 239, 239);
  width: 50%;
  margin: 50px auto auto auto;
  height: auto;
  box-shadow: 0px 18px 10px -15px #111;
  padding: 30px 0px;
  border-radius: 10px;
  animation: rainbow 9s infinite linear;
  color: white;
}
i.zmdi.zmdi-lock-outline {
  font-size: 25px;
}
.login-form {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.login-input {
  text-align: center;
  padding-top: 80px;
}
.login-form-group {
  padding-bottom: 30px;
}
.confirm-password{
  font-size: 16px !important;
}
.sign-email{
  font-size: 16px !important
}
.login-field {
  border: none;
  background-color: transparent;
  border-bottom: solid rgb(0, 0, 0) 1px;
  text-align: left;
  width: 200px;
  padding-bottom: 10px;
  font-weight: 500;
}
.login-field::placeholder{
  color: white;
}
.login-text {
  text-align: center;
  padding: 0px;
}
.login-head {
  margin: 0px;
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 5px;
  font-family: "poppins";
}
.login-img {
  height: 280px;
  width: 280px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.create-account {
  display: block;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
  color: white;
}
.create-account:hover {
  color: black;
  text-decoration: underline;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.contact-info-item {
  background-color: rgb(242, 239, 239);
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 5px 250px 5px 0px;
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
  border: solid;
  color: white;
  animation: rainbow 9s infinite linear;
}
.contact-phone {
  margin: 0px;
  padding-bottom: 10px;
  font-family: poppins;
  font-size: 20px;
}
.icon {
  padding: 20px 20px;
}
.user-contact-info {
  padding: 10px 0px;
}
i.zmdi.zmdi-smartphone-download {
  color: white;
  font-size: 25px;
}
.zmdi-email {
  font-size: 25px;
}
.zmdi-map {
  font-size: 25px;
}
span.user-num {
  color: white;
}
.get-touch {
  background-color: rgb(242, 239, 239);
  margin: auto;
  width: 50%;
  height: auto;
  padding: 60px;
  box-shadow: 5px 5px 5px rgb(55 55 55);
  border-radius: 8px;
  animation: rainbow 9s infinite linear;
}
.get-touch-fields {
  display: flex;
  justify-content: space-between;
}
.get-touch-fill {
  padding: 10px 35px 10px 20px;
  border: solid gray;
  text-align: left;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(193, 193, 194);
}
h4.get-touch-title {
  margin: 0px;
  padding-bottom: 30px;
  font-size: 30px;
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  color: white;
}
.get-touch-message {
  padding-top: 20px;
  text-align: center;
}
textarea.message {
  padding: 10px 10px;
  text-align: left;
  border: solid gray;
  border-radius: 10px;
  margin: 20px 0px;
  box-shadow: 5px 5px 5px rgba(193, 193, 194);
}
button.get-touch-btn {
  display: block;
  padding: 10px 15px;
  background-color: khaki;
  border: none;
  border-radius: 5px;
  font-family: "poppins";
  font-size: 15px;
  color: rgb(0, 0, 0);
}
button.get-touch-btn:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}
.home-mern-dev1 {
  width: 50%;
  height: 700px;
}
.mern-dev {
  margin: 0px;
  font-size: 40px;
  filter: drop-shadow(0 0 0.75rem rgba(118, 196, 209, 255));
  padding-top: 5px;
  font-family: "poppins";
  color: white;
}
.home-mern-dev2 {
  text-align: center;
  padding-top: 300px;
  position: absolute;
  color: rgb(77, 77, 77);
  left: 462px;
}
span.home-mern-wel {
  font-size: 31px;
  font-family: ui-sans-serif;
  font-weight: 800;
  padding-bottom: 5px;
  filter: drop-shadow(0 0 0.75rem rgba(118, 196, 209, 255));
  color: white;
}

.about-us-profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.about-us {
  margin: 50px auto auto auto;
  width: 50%;
  background-color: rgb(242, 239, 239);
  padding: 50px;
  box-shadow: 5px 5px 5px rgb(55 55 55);
  border-radius: 10px;
  animation: rainbow 9s infinite linear;
  color: white;
}
.about-us-combine {
  display: flex;
  justify-content: space-around;
}
h5.about-us-name {
  margin: 0px;
  font-size: 24px;
  font-family: initial;
  font-weight: 500;
}
h6.about-us-profession {
  margin: 0px;
  font-size: 16px;
  font-family: emoji;
  font-weight: 200;
}
p.about-us-ranking {
  margin: 0px;
  padding-top: 15px;
  letter-spacing: 1px;
}
.about-us-details {
  margin-top: 30px;
}
.edit-profile {
  margin-top: 8%;
}
/* .edit-profile-link {
  text-decoration: none;
  color: black;
  padding: 3px 8px;
  border-radius: 5px;
}  */
.edit-profile-link {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(24, 23, 23);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  padding: 3px 8px;
}
.edit-profile-link:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.edit-profile-link:active {
  color: #000
}
.edit-profile-link:active:after {
  background: transparent;
}

.edit-profile-link:hover:before {
  opacity: 1;
}
.edit-profile-link:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.edit-profile-link:hover{
  color: white;
}
.about-us-user-profession {
  padding: 0px;
}
.profession-name {
  list-style: none;
  padding: 5px 0px;
}
a.profession-link {
  text-decoration: none;
  color: black;
  font-family: "Material-Design-Iconic-Font";
  font-size: 18px;
  box-shadow: 5px 5px 5px rgba(193, 193, 194);
  color: white;
}
.about-us-user-details {
  display: inline-flex;
}
.about-us-user-label {
  font-size: 15px;
  font-weight: 400;
  font-family: emoji;
}

.about-us-user-details-grp {
  display: grid;
}
label.about-us-user-label-name {
  padding-bottom: 10px;
  padding-right: 10px;
  float: left;
}
span.about-us-user-value {
  font-family: emoji;
  font-weight: 100;
}

h4.about-us-details-heading {
  margin: 0px;
  padding: 30px 0px;
  color: #000;
  text-transform: uppercase;
}

.about-us-details-timeline-grp {
  display: flex;
}
label.about-us-user-timeline-label-name {
  padding-bottom: 10px;
  padding-right: 10px;
  float: left;
  font-size: 15px;
  font-weight: 400;
  font-family: emoji;
}
span.about-us-user-timeline-value {
  font-family: emoji;
  font-weight: 100;
  color: rgba(118, 196, 209, 255);
  padding-left: 20px;
  color: black;
}
h4.about-us-details-timeline {
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #000;
}
section#not-found {
  background-color: rgb(242, 239, 239);
  width: 50%;
  border-radius: 10px;
  margin: 50px auto auto auto;
  animation: rainbow 9s infinite linear;
  box-shadow: 5px 5px 5px rgb(55 55 55)
}
.not-found {
  text-align: center;
  padding: 40px;
}
h2.not-found-404-num {
  margin: 0px;
  font-size: 100px;
  font-family: sans-serif;
  color: white;
}
span.not-found-404-msg {
  font-size: 33px;
  font-family: 'Material-Design-Iconic-Font';
  color: white;
}
p.not-found-404-info {
  margin: 0px;
  font-size: 18px;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: 300;
  padding: 25px 0px;
  color: white;
}
.not-found-404-btn {
  text-decoration: none;
  font-family: emoji;
  font-size: 18px;
  padding: 10px 10px;
  background-color: white;
  display: inline-block;
  border: 1px solid rgba(118, 196, 209, 255);
  border-radius: 5px;
  color: rgba(118, 196, 209, 255);
  text-transform: uppercase;
  animation: wiggle 2s linear infinite;
}
.not-found-404-btn:hover{
  background-color:rgba(118, 196, 209, 255);
  color: white;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}